dice-roller-page{
    #avatarImage{
        position:absolute;
        left:50%;
        top:50%;
        min-height: 30%;
        min-width: 30%;
        max-height: 60%;
        max-width: 60%;
        margin-left:-10px;
        margin-top:-10px;
    }
}