dice-roller-page{
    ion-content{
        background: url('../assets/img/background/Blue_Fire_Burn_Animated.gif') no-repeat center center ;
        background-size:cover;

    }
}

.diceResult{
    font-family: 'DPoly Twenty-Sider';
    font-size: 6em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#avatarImage{
    align-items: center;
    width: 100%;
    align-self: center;
    padding: 0em 5em 1em 5em;
}

